/* Accordion.css */

/* Gaya untuk item accordion */
.accordion-item {
  border-bottom: 1px solid #ccc;
}

/* Gaya untuk judul atau header accordion */
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
}

.accordion-title:hover {
  background-color: #eaeaea;
}

/* Gaya untuk konten accordion yang tersembunyi */
.accordion-content {
  padding: 10px;
  background-color: #fff;
}
